// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 h1 {
  font-family: 'Bree Serif', serif;
 }

 h3 {
  font-family: 'Bree Serif', serif;
  margin: 5px auto;
 }

 p {
  font-family: 'Open Sans', sans-serif;
  margin: 5px auto;
 }
